:root{

}
*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}